{% extends "base.html" %}
{%block title%}
home
{%endblock%}
{%block content%}
{%load static%}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static "/images/car1.jpg" %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static "/images/car2.jpg" %}" class="d-block w-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="{% static "/images/car3.jpg" %}" class="d-block w-100" alt="...">
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
<div class="container text-center my-5">
    <h1 class="fw-bold">Welcome to City Hospital</h1>
    <p class="lead">City Hospital is a premier healthcare institution dedicated to providing top-quality medical care with compassion and excellence. Equipped with modern facilities and a team of highly skilled doctors, we offer comprehensive healthcare services, including emergency care, specialized treatments, and advanced diagnostics.

      Our mission is to ensure accessible and affordable healthcare for all, with a commitment to patient safety and well-being. Whether it's routine check-ups, critical treatments, or emergency services, we are here for you 24/7.
      <hr>
      📍 Location: Main Street, Your City
      📞 Emergency Helpline: +91 9946862417</p>
    <hr>
</div>


<!-- Contact Section -->
<div class="text-center my-5">
    <h2>Need Assistance?</h2>
    <a href="{% url 'contact' %}" class="btn btn-success btn-lg">Get in Touch</a>
</div>
{%endblock%}